body {
  background-color: #000;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #fff;
}

.gf-text {
  font-weight: 700;
  letter-spacing: -1px;
}

.logo {
  width: 200px;
}
.flow-text {
  font-weight: 500;
}

.all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.master-container {
  position: absolute;
  top: 50vh;
  left: 50vh;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
}
body,
html {
  padding: 0;
  margin: 0;
}
.slider {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 150px;
  color: white;
  font-family: sans-serif;
  text-align: right;
}
.slider input {
  width: 100%;
  margin-bottom: 5px;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.gr-text {
  text-transform: uppercase;
  letter-spacing: 15px;
}

@keyframes logo-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo {
  animation: logo-anim 2s infinite;
}

.input-mail {
  margin-top: 30px;
  background-color: #333;
  border: none;
  padding: 10px 20px;
  outline: none;
  color: #eee;
}

.btn-mail {
  background-color: royalblue;
  border: none;
}
