body {
  background-color: #ccc;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #fff;
}

.gf-text {
  font-weight: 700;
  letter-spacing: -3px;
  font-size: 3rem;
  padding-top: 20px;
}

.logo {
  width: 150px;
}
.flow-text {
  font-weight: 400;
}

.all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.master-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
}
body,
html {
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

h1,
p {
  padding: 0;
  margin: 0;
}
.gr-text {
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  font-size: 0.7rem;
}

@keyframes logo-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.logo {
  animation: logo-anim 5s infinite;
}

.input-mail {
  margin-top: 30px;
  background-color: #333;
  border: none;
  padding: 10px 15px;

  outline: none;
  color: rgb(175, 175, 175);
  box-sizing: border-box;
  border-radius: 5px 0px 0px 5px;
}

.btn-mail {
  background-color: rgb(64, 104, 221);
  border: none;
  /* height: 27px;
  width: 27px; */
  padding: 10px;
  color: #fff;
  box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
  transform: translateX(-6px);
  outline: none;
}

.btn-mail:hover {
  background-color: rgb(2, 2, 236);
  transition: 2s;
}

.tick {
  max-width: 60%;
  max-height: 60%;
}

.mail {
  display: inline;
}

body {
  position: relative;
}

.cs-text {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  animation: loader 1s infinite;
}
